[Email]
sender_email = your_email@gmail.com
max_results = 5

[Search]
search_term = YOUR_SEARCH_TERM

[SMS]
message_length = 160
phone_numbers_file = phone_numbers.txt

[Carriers]
att = txt.att.net
verizon = vtext.com
tmobile = tmomail.net
google_voice = txt.voice.google.com

[Google]
scopes = https://www.googleapis.com/auth/gmail.readonly https://www.googleapis.com/auth/gmail.send
credentials_file = google-credentials.json 